$is_responsive: true;

// BREAKPOINTS
$xs: 544px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// GRID
$grid-columns: 12;
$grid-padding: 15px;
$grid-gutter: 0;
$grid-breakpoints : ( xs: $xs, sm: $sm, md: $md, lg: $lg ) !default;
$grid-breakpoint-counter: 0;

// Grid modifiers
@mixin make-col-modifier($type, $size, $columns) {
	@if $type == push {
		left: if($size > 0, percentage($size / $columns), auto);
	} @else if $type == pull {
		right: if($size > 0, percentage($size / $columns), auto);
	} @else if $type == offset {
		margin-left: percentage($size / $columns);
	}
}

// Responsive breakpoints
@mixin break-xs {
  @media only screen and (min-width: $xs) {
    @content;
  }
}

@mixin break-sm {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin break-md {
  @media only screen and (min-width: $md) {
    @content;
  }
}
@mixin break-lg {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

// clearfix placeholder
%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
